footer {

    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    position: relative !important;

    nav {
        max-width: 1440px;
        margin: 0 auto;
        display: block;

        .footerColumn {
            max-width: 190px;
            width: 190px;

            h2 {
                font-size: 19px;
                font-weight: 400;


            }

            ul {
                li {
                    padding-bottom: 1.2rem;

                    a {
                        color: rgba(0, 0, 0, .58);
                        text-decoration: none;
                        font-weight: 500;

                        &:hover {
                            color: rgba(0, 0, 0, .87);
                        }
                    }
                }
            }
        }

        hr {
            border: 0;
            margin: 0;

            &::before {
                content: "";
                display: block;
                border-top: 2px solid rgba(0, 0, 0, .1);
            }
        }

        ul {
            &.socialIcons {
                margin-left: -4.5px;

                li {
                    margin-right: 0.1rem !important;


                    a {
                        min-width: 44px;
                        min-height: 44px;
                        transition: all .2s ease-out;
                        border-radius: 50px;
                        padding: 3px;


                        &:hover {
                            transition: .2s;
                            transform-origin: center;
                            background-color: rgba(128, 128, 128, 0.529);
                            fill: rgb(14, 0, 0);



                        }


                    }
                }
            }

            &.policy {
                li {
                    align-items: center !important;
                    display: flex;
                    text-align: center;
                    align-items: center;

                    a {
                        text-decoration: none;
                        font-weight: 500;

                        &:hover {
                            text-decoration: underline;
                        }

                    }
                }
            }
        }

        p {
            &.copyright {
                font-size: 14px;
                padding-top: .8rem;
                padding-bottom: .8rem;
                color: rgba(0, 0, 0, .58) !important;
                font-weight: 500;
            }
        }


    }
}